# Project ignores
Brewfile.lock.json
home/.config/spaceship.zsh.zwc
home/.config/gh
home/.config/iterm2
home/.config/raycast
home/.config/karabiner/automatic_backups
home/.config/com.nvidia.devtools
home/.config/NVIDIA Corporation

# Editor ignores
.idea
.vscode
.dotfiles.code-workspace

# System ignores
.DS_Store
