[user]
name = Dmitry Barsukoff
email = riZZZhik@gmail.com

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[rerere]
enabled = true

[init]
defaultBranch = develop

# [url "ssh://git@github.com/"]
# insteadOf = https://github.com/

[credential]
helper = store
