# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins]

# System plugins

# Deferred loading - https://github.com/romkatv/zsh-defer
[plugins.zsh-defer]
github = "romkatv/zsh-defer"

# Framework - https://github.com/ohmyzsh/ohmyzsh
[plugins.oh-my-zsh]
github = "ohmyzsh/ohmyzsh"

# Better colors - https://github.com/chriskempson/base16-shell
[plugins.base16]
github = 'chriskempson/base16-shell'

# Appearance plugins

# Theme - https://github.com/spaceship-prompt/spaceship-prompt
[plugins.spaceship]
github = "spaceship-prompt/spaceship-prompt"

# Syntax highlighting - https://github.com/zsh-users/zsh-syntax-highlighting
[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

# Suggestions

# https://github.com/zsh-users/zsh-autosuggestions
[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ["{{ name }}.zsh"]
apply = ["defer"]

# https://github.com/zsh-users/zsh-autosuggestions
[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer"]

# https://github.com/babarot/enhancd
[plugins.enhancd]
github = "b4b4r07/enhancd"
apply = ["defer"]

# Interactive git - https://github.com/wfxr/forgit
[plugins.forgit]
github = "wfxr/forgit"
apply = ["defer"]

# Open repo in browser - https://github.com/paulirish/git-open
[plugins.git-open]
github = "paulirish/git-open"
apply = ["defer"]

# Auto pair brackets - https://github.com/hlissner/zsh-autopair
[plugins.zsh-autopair]
github = "hlissner/zsh-autopair"
apply = ["defer"]

# https://github.com/djui/alias-tips
[plugins.alias-tips]
github = 'djui/alias-tips'
apply = ["defer"]

# Other plugins

# https://github.com/marzocchi/zsh-notify
[plugins.zsh-notify]
github = "marzocchi/zsh-notify"
apply = ["defer"]

# https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
[plugins.autoswitch-virtualenv]
github = "MichaelAquilina/zsh-autoswitch-virtualenv"
apply = ["defer"]

# Templates

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"
